<br><br><br><br>
<article class="recipe">
  
    <h1>Urad Dal Vada</h1>
  <br><br>
  <body>
    <div class="recipe-image">
    
      <img src="../../assets/images/bonda-recipe-urad.jpeg">
      
    </div>
  
    <div class="recipe-text">
  
      <h2>Ingredients</h2>
  
      <ul>
        <li>
          <strong>1 cup</strong>
          urad dal
        </li>
        <li>
          <strong> 1 chilli</strong>
          finely chopped
        </li>
        <li>
          <strong >1 inch ginger,</strong>
          finely chopped
        </li>
        <li>
          <strong> few curry leaves</strong>
          , chopped
        </li>
        <li>
          <strong>2 tbsp coriander</strong>
          , finely chopped
        </li>
        <li>
          <strong> ½ tsp pepper</strong>
          , crushed
        </li>
        <li>
          <strong>2 tbsp dry coconut</strong>
          , chopped
        </li>
        <li>
          <strong> ¾ tsp salt</strong>
      
        </li>
        <li>
          Oil for frying
        </li>
        
      </ul>
      
    </div>
  </body> 
    <div class="recipe-directions">
  
      <h2>Directions</h2>
  
      <h5>Get your filthiest campfire-scorched Dutch oven over the fire the best you can situate it. Brown the bison. Add the diced onion and spices, sautee until soft. Add tomatoes and broth and bring to a simmer for 40 minutes. Add beans and cook another 30 minutes.</h5>
  
      <h5>Serve with Tabasco and a giant spoon.</h5>
      
    </div>

</article>