<br><br><br><br>
<article class="recipe">
  
    <h1>Paneer Chilla</h1>
  
    <div class="recipe-image">
    
      <img src="../../assets/images/paneer-chilla.jpeg">
      
    </div>
  
    <div class="recipe-text">

      <h2>Ingredients</h2>
  
      <ul >
        <li><h3>FOR BESAN CHILLA:</h3>
          <strong> 1 cup besan / gram flour</strong>
        </li>
        <li>
          <strong> ¼ tsp turmeric</strong>
        </li>
        <li>
          <strong>½ tsp kashmiri red chilli powder</strong>
        </li>
        <li>
          <strong> ¼ tsp ajwain / carom seeds</strong>
        </li>
        <li>
          <strong>½ tsp salt</strong>
        </li>
        <li>
            <strong>¾ cup water</strong>
          </li>
     
           <li><h3>FOR STUFFING:</h3>
          <strong>3 tsp oil</strong>
        </li>
        <li>
          <strong> 1 tsp ginger paste</strong>
        </li>
        <li>
          <strong>¼ cup carrot</strong>
        , finely chopped
        </li>
        <li>
          <strong>¼ cup cabbage</strong>
          , finely chopped
        </li>
        <li>
          <strong> ¼ cup capsicum</strong>
          , finely chopped
        </li>
        <li>
          <strong> ¼ cup sweet corn</strong>
        </li>
        <li>
          <strong>¼ cup beans</strong>
          , finely chopped
        </li>
        <li>
          <strong>   ¼ tsp turmeric</strong>
                  </li>
        <li>
          <strong> ¼ tsp garam masala</strong>
        </li>
      </ul>
      
    </div>
      
    <div class="recipe-directions">
  
      <h2>Directions</h2>
  
     <h5>Firstly, mix the besan chilla batter again and take a ladleful of batter.
        pour the batter on hot tawa.
        spread gently making sure the chilla is slightly thick.
        spread a tsp of oil around the corners.
        allow to cook on low to medium flame for a minute or until the bottom is cooked completely.
        now flip gently without breaking the chilla.
        press gently, making sure the chilla is cooked from both sides.
        now spread 2 tbsp of prepared paneer stuffing on half of the chilla.
        fold half and roast slightly crisp.
        finally, enjoy paneer chilla with green chutney and tamarind chutney.</h5>
      
    </div>
    
  </article>