<div id="fh5co-featured" data-section="features">
    <div class="container">
        <div class="row text-center fh5co-heading row-padded">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="heading to-animate">Featured Dishes</h2>
                <p class="sub-heading to-animate">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
            </div>
        </div>
        <div class="row">
            <div class="fh5co-grid">
                <div class="fh5co-v-half to-animate-2">
                    <div class="fh5co-v-col-2 fh5co-bg-img" style="background-image: url(../../assets/images/sebastien-marchand-NAs5-bHR-JA-unsplash.jpg.jpg)"></div>
                    <div class="fh5co-v-col-2 fh5co-text fh5co-special-1 arrow-left">
                        <h2>Fresh Mushrooms</h2>
                        <span class="pricing">TOTAL TIME 15m</span>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    </div>
                </div>
                <div class="fh5co-v-half">
                    <div class="fh5co-h-row-2 to-animate-2">
                        <div class="fh5co-v-col-2 fh5co-bg-img" style="background-image: url(../../assets/images/easy-grilled-chicken-salad-1.jpg)"></div>
                        <div class="fh5co-v-col-2 fh5co-text arrow-left">
                            <h2>Grilled Chiken Salad</h2>
                            <span class="pricing">TOTAL TIME 25m
                             </span>
                            <p>Far far away, behind the word mountains.</p>
                        </div>
                    </div>
                    <div class="fh5co-h-row-2 fh5co-reversed to-animate-2">
                        <div class="fh5co-v-col-2 fh5co-bg-img" style="background-image: url(../../assets/images/Individual-Garlic-Breads-IMAGE-10.jpg)"></div>
                        <div class="fh5co-v-col-2 fh5co-text arrow-right">
                            <h2>Cheese and Garlic Toast</h2>
                            <span class="pricing">TOTAL TIME 10m</span>
                            <p>Far far away, behind the word mountains.</p>
                        </div>
                    </div>
                </div>

                <div class="fh5co-v-half">
                    <div class="fh5co-h-row-2 fh5co-reversed to-animate-2">
                        <div class="fh5co-v-col-2 fh5co-bg-img" style="background-image: url(../../assets/images/organic-egg.jpg)"></div>
                        <div class="fh5co-v-col-2 fh5co-text arrow-right">
                            <h2>Organic Egg</h2>
                            <span class="pricing">TOTAL TIME 15m</span>
                            <p>Far far away, behind the word mountains.</p>
                        </div>
                    </div>
                    <div class="fh5co-h-row-2 to-animate-2">
                        <div class="fh5co-v-col-2 fh5co-bg-img" style="background-image: url(../../assets/images/chickensalad.jpg)"></div>
                        <div class="fh5co-v-col-2 fh5co-text arrow-left">
                            <h2>Salad with Crispy Chicken</h2>
                            <span class="pricing">TOTAL TIME 35m</span>
                            <p>Far far away, behind the word mountains.</p>
                        </div>
                    </div>
                </div>
                <div class="fh5co-v-half to-animate-2">
                    <div class="fh5co-v-col-2 fh5co-bg-img" style="background-image: url(../../assets/images/chicken-soup.jpg)"></div>
                    <div class="fh5co-v-col-2 fh5co-text fh5co-special-1 arrow-left">
                        <h2>Tomato Soup with Chicken</h2>
                        <span class="pricing">TOTAL TIME 45m</span>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

<div id="fh5co-type" style="background-image: url(../../assets/images/jonathan.jpg);" data-stellar-background-ratio="0.5">
    <div class="fh5co-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-3 to-animate">
                <div class="fh5co-type">
                    <h3 class="with-icon icon-1">Fruits</h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                </div>
            </div>
            <div class="col-md-3 to-animate">
                <div class="fh5co-type">
                    <h3 class="with-icon icon-2">Sea food</h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                </div>
            </div>
            <div class="col-md-3 to-animate">
                <div class="fh5co-type">
                    <h3 class="with-icon icon-3">Vegetables</h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                </div>
            </div>
            <div class="col-md-3 to-animate">
                <div class="fh5co-type">
                    <h3 class="with-icon icon-4">Meat</h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="fh5co-menus" data-section="menu">
    <div class="container">
        <div class="row text-center fh5co-heading row-padded">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="heading to-animate">Lunch Menu</h2>
                <p class="sub-heading to-animate">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
            </div>
        </div>
        <div class="row row-padded">
            <div class="col-md-12">
                <div class="fh5co-food-menu to-animate-2">
                    <h2 class="fh5co-dishes">Healthy Lunch</h2>
                    <ul>
                        <li>
                            <div class="fh5co-food-desc">
                                <figure>
                                    <img src="../../assets/images/aloo-dum-biryani.jpeg" class="img-responsive" >
                                </figure>
                                <div>
                                   <li><a routerLink="/breakfast3">Aloo Dum Biryani</a></li>
                                    <p>Far far away, behind the word mountains.</p>
                                </div>
                            </div>
                            <div class="fh5co-food-pricing">
                                Total Time : 60 minutes
                            </div>
                        </li>
                        <li>
                            <div class="fh5co-food-desc">
                                <figure>
                                    <img src="../../assets/images/suvarnagadde.jpg" class="img-responsive" alt="Free HTML5 Templates by FREEHTML5.co">
                                </figure>
                                <div>
                                    <li><a routerLink="/lunch2">suvarnagadde palya</a></li>
                                    <p>Far far away, behind the word mountains.</p>
                                </div>
                            </div>
                            <div class="fh5co-food-pricing">
                                Total Time : 30 minutes
                            </div>
                        </li>
                        <li>
                            <div class="fh5co-food-desc">
                                <figure>
                                    <img src="../../assets/images/litti-chokha.jpeg" class="img-responsive" alt="Free HTML5 Templates by FREEHTML5.co">
                                </figure>
                                <div>
                                     <li><a routerLink="/lunch3">Litti chokha</a></li>
                                    <p>Far far away, behind the word mountains.</p>
                                </div>
                            </div>
                            <div class="fh5co-food-pricing">
                                Total Time : 60 minutes
                            </div>
                        </li>
                        <li>
                            <div class="fh5co-food-desc">
                                <figure>
                                    <img src="../../assets/images/semiya-idli.jpeg" class="img-responsive" alt="Free HTML5 Templates by FREEHTML5.co">
                                </figure>
                                <div>
                                    <li><a routerLink="/lunch4">semiya idli</a></li>
                                    <p>Far far away, behind the word mountains.</p>
                                </div>
                            </div>
                            <div class="fh5co-food-pricing">
                                Total Time : 45 minutes
                            </div>
                        </li>
                    </ul>
                </div>
            
        </div>
       
    </div>
</div>
