<div class="container-fluid">
  <Br/>
<Br/>
<Br/>
<Br/>
<Br/>
<Br/>
<Br/>
<Br/>
<Br/>
<Br/><Br/>
<Br/>
<Br/><Br/><Br/>
<Br/><Br/>
<Br/>
  <div class="login">
    <img src = "../../assets/images/2.jpg" class="icon">
    <Br/>
    
    
    <h1>LOGIN HERE</h1>
    <form>
      <p>USERNAME</p>
      <input type="text" name="" placeholder="aman@gmail.com">
      <p>PASSWORD</p>
      <input type="password" name="" placeholder="PASSWORD">
      <input type="submit" name="" value="login">
      <a href="#" > Forget password ? </a> <br><br>
      <a href="#">Don't have any account?</a> 

    </form>
  </div>
</div>



