<br><br><br><br>
<article class="recipe">
  
    <h1>Paneer Chilla</h1>
  
    <div class="recipe-image">
    
      <img src="../../assets/images/paneer-chilla.jpeg">
      
    </div>
  
    <div class="recipe-text">

      <h2>Ingredients</h2>
  
      <ul >
        <li>
          <strong> 1 tbsp unsalted butter</strong>
        </li>
        <li>
          <strong> 1large sized onion</strong>
          , roughly chopped
        </li>
        <li>
          <strong> 2 large sized tomato</strong>
          , finely chopped
        </li>
        <li>
          <strong> 1 tsp ginger-garlic paste</strong>
        </li>
        <li>
          <strong> 15 whole cashews</strong>
        </li>
        
           <li><h3> OTHER INGREDIENTS:</h3>
          <strong> 3 cloves / lavang</strong>
        </li>
        <li>
            <strong>1 tbsp unsalted butter</strong>
          </li>
        <li>
          <strong> 1 bay leaf / tej patta</strong>
        </li>
        <li>
          <strong>  1 inch cinnamon stick / dalchini </strong>
        </li>
        <li>
          <strong>½ tsp turmeric / haldi</strong>
        </li>
        <li>
          <strong> ½ tsp turmeric / haldi </strong>
        </li>
        <li>
          <strong> ¼ cup sweet corn</strong>
        </li>
        <li>
          <strong> 9 pieces paneer / cottage cheese</strong>
        </li>
        <li>
          <strong>   ¼ tsp turmeric</strong>
                  </li>
        <li>
          <strong> ¼ tsp garam masala</strong>
        </li>
      </ul>
      
    </div>
      
    <div class="recipe-directions">
  
      <h2>Directions</h2>
  
     <h5>Firstly, in a large kadai heat butter and saute onions and ginger-garlic paste.
        further add tomatoes and cashews. saute till they turn mushy.
        cool completely and blend to smooth paste without adding any water.
        furthermore, heat butter and saute bay leaf, cloves and cinnamon stick.
        also add turmeric and chili powder and saute on very low flame for 20 seconds.
        further add prepared onion-tomato paste and saute 5 minutes.
        also cover and simmer for 10 minutes or till the oil separates from the gravy.
        additionally add coriander powder and salt to taste.
        saute 5 minutes or till the raw smell of spices disappears.
        further add cream and mix well.
        then add cubed paneer pieces and coat the gravy by mixing gently.
        cover and simmer for 5 minutes.
        lastly add garam masala and kasuri methi. mix well.
        finally, paneer butter masala aka panner makhani is ready to serve with roti or naan.</h5>
      
    </div>
    
  </article>