<br><br><br><br>
<article class="recipe">
  
    <h1>Paneer Chilla</h1>
  
    <div class="recipe-image">
    
      <img src="../../assets/images/paneer-chilla.jpeg">
      
    </div>
  
    <!-- <div class="recipe-text">

      <h2>Ingredients</h2>
  
      <ul >
        <li><h3>FOR FRYING ALOO:</h3>
          <strong> 7 baby potatoes</strong>
          , washed and pealed
        </li>
        <li>
          <strong> 4 cups water</strong>
        </li>
        <li>
          <strong> 1 tsp salt</strong>
        </li>
        <li>
          <strong> 4 tbsp oil</strong>
        </li>
        <li>
          <strong> 1 tsp chilli powder</strong>
        </li>

           <li><h3> FOR CURD MIXTURE:</h3>
          <strong> 1 cup curd / yogurt</strong>
        </li>
        <li>
            <strong>1 tsp biryani masala</strong>
        </li>
        <li>
          <strong> 1 inch cinnamon stick</strong>
        </li>
        <li>
          <strong> 3 cardamom / elaichi </strong>
        </li>
        <li>
          <strong>½ tsp turmeric / haldi</strong>
        </li>
        <li>
          <strong> ½ tsp turmeric / haldi </strong>
        </li>
        <li>
          <strong>1 ½ cup basmati rice </strong>
        </li>
        <li>
          <strong> 1 star anise</strong>
        </li>
        <li>
          <strong>  2 tbsp coriander leaves </strong>
        </li>
        <li>
          <strong> 4-5 big spoon ghee </strong>
        </li>
      </ul>
      
    </div>
      
     <div class="recipe-directions">
  
      <h2>Directions</h2>
  
     <h5>FRYING ALOO RECIPE:
        firstly, in a large bowl take baby potatoes.
        soak in for atleast 15 minutes in salt water.
        in a cooker add 4 tbsp of oil along with chilli powder and turmeric.
        fry the soaked potatoes for 2 minutes.
        CURD MIXTURE RECIPE:
        firstly, in a bowl take 1 cup of thick curd.
        add chilli powder, turmeric powder, biryani masala, fennel powder, ginger-garlic paste and salt and mix well.
        DUM ALOO BIRYANI RECIPE:
        firstly, in a cooker add 3 tbsp of oil / ghee.
        add spices like bay leaf, star anise, cardamom, cinnamon and cloves.
        now add the prepared curd mixture.
        place fried potatoes in it and spread soaked rice. add saffron milk.
        place mint leaves and coriander leaves.
        after that, sprinkle fried onions / barista.
        furthermore, add 1½ cup of water.
        then pressure cook for 2 whistles.
        finally, serve dum aloo biryani
    </div>-->
     
  </article>