
    <!-- Meta tag Keywords -->

    <!-- <script>
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }

    </script> -->
  

    <!-- main-content -->
    <div class="main-content" id="home">
        <div class="layer">
            <!-- header -->
            
            <!-- //header -->
            <div class="container">
                <!-- /banner -->
                <div class="banner-info-w3layouts text-center">
                    <h3>FOODIE SPECIAL</h3>
                    <div class="read-more">
                        <a href="#about" class="read-more scroll">Read More </a> </div>
                </div>
                <div class="row order-info">
                    <div class="middle mt-3 col-md-6 text-left">
                        <ul class="social mb-4">
                            <li><a href="#"><span class="fa fa-facebook icon_facebook"></span></a></li>
                            <li><a href="#"><span class="fa fa-twitter icon_twitter"></span></a></li>
                            <li><a href="#"><span class="fa fa-google-plus icon_google-plus"></span></a></li>
                            <li><a href="#"><span class="fa fa-linkedin icon_linkedin"></span></a></li>
                            <!-- <li><a href="#"><span class="fa fa-dribbble icon_dribbble"></span></a></li> -->
                        </ul>

                    </div>
                    <div class="middle-right mt-md-3 col-md-6 text-right">
                        <h6><span class="fa fa-phone"></span> ASK ME: +91-9458508500</h6>
                    </div>
                </div>
            </div>
            <!-- //banner -->
        </div>
    </div>
    <!--// main-content -->
    <!-- banner-bottom-wthree -->
    <section class="banner-bottom-wthree py-5" id="about">
        <div class="container py-md-3">
            <div class="row banner-grids">
                <div class="col-md-6 content-left-bottom text-left pr-lg-5">
                    <h4>BE A FOODIE</h4>
                    <p class="mt-2 text-left"><strong class="text-capitalize">I’m a foodie because the perfect dish awakens a passion inside of me. The first smell of a long-loved favorite meal’s aroma induces hours’ worth of memories. A mind-blowing bite, chewed and swallowed in seconds, sparks minutes upon minutes of enthusiastic conversation and reflection. I experiment throughout consumption of my plate, creating unique flavor combinations by picking out different components to spear with my fork and make up each taste. I eat, appreciate, and repeat.</strong></p>

                </div>
                <div class="col-md-6 content-right-bottom text-left">
                    <img src="../../assets/images/RE.png" alt="news image" class="img-fluid">
                </div>
            </div>
        </div>
    </section>
    <!-- //banner-bottom-wthree -->
    <!-- team -->
	<div class="team">
		<div class="container">
		<h3 class="heading">Our <span>Chefs</span></h3>
		<p class="heading"><strong>Food Recipe Specialists</strong> </p>
			<div class="w3_agile_team_grids">
				<div class="col-md-3 w3_agile_team_grid">
					<div class="hover14 column">
						<figure><img src="../../assets/images/Vikas.jpg" alt=" " class="img-responsive" /></figure>
					</div>
					<div class="team-tt">
						<h4>Vikas Khanna</h4>
						<p>master chef</p>
						<ul class="agileits_social_list">
							<li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
							<!-- <li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
							<li><a href="#" class="w3_agile_vimeo"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li> -->
						</ul>
					</div>
				</div>
				<div class="col-md-3 w3_agile_team_grid">
					<div class="hover14 column">
						<figure><img src="../../assets/images/ranveer.jpg" alt=" " class="img-responsive" /></figure>
					</div>
					<div class="team-tt">
						<h4>Ranveer Brar</h4>
						<p>master chef</p>
						<ul class="agileits_social_list">
							<li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
							<!-- <li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
							<li><a href="#" class="w3_agile_vimeo"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li> -->
						</ul>
					</div>
				</div>
				<div class="col-md-3 w3_agile_team_grid">
					<div class="hover14 column">
						<figure><img src="../../assets/images/sanjeev.jpg" alt=" " class="img-responsive" /></figure>
					</div>
					<div class="team-tt">
						<h4>Sanjeev Kapoor</h4>
						<p>master chef</p>
						<ul class="agileits_social_list">
							<li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
							<!-- <li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
							<li><a href="#" class="w3_agile_vimeo"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li> -->
						</ul>
					</div>
				</div>
				<div class="col-md-3 w3_agile_team_grid">
					<div class="hover14 column">
						<figure><img src="../../assets/images/hari.jpg" alt=" " class="img-responsive" /></figure>
					</div>
					<div class="team-tt">
						<h4>Hari Nayak</h4>
						<p>master chef</p>
						<ul class="agileits_social_list">
							<li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
							<!-- <li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
							<li><a href="#" class="w3_agile_vimeo"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li> -->
						</ul>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- team -->
    <!--/ about -->
  

    <!-- Gallery -->
    <section class="gallery py-5" id="gallery">
        <div class="container py-md-5">
            <div class="header text-center">
                <h3 class="tittle mb-lg-5 mb-3">Our Gallery</h3>
            </div>
            <div class="row news-grids text-center gallery-wrap">
                <div class="col-md-3 gal-img">
                    <a href="#gal1"><img src="../../assets/images/g1.jpg" alt="news image" class="img-fluid"></a>
                </div>
                <div class="col-md-3 gal-img">
                    <a href="#gal2"><img src="../../assets/images/dosa.png " alt="news image" class="img-fluid"></a>
                </div>
                <div class="col-md-3 gal-img">
                    <a href="#gal3"><img src="../../assets/images/g3.jpg" alt="news image" class="img-fluid"></a>
                </div>
                <div class="col-md-3 gal-img">
                    <a href="#gal4"><img src="../../assets/images/g4.jpg" alt="news image" class="img-fluid"></a>
                </div>

            </div>

            <!-- popup-->
            <div id="gal1" class="pop-overlay animate">
                <div class="popup">
                    <img src="../../assets/images/g1.jpg" alt="Popup Image" class="img-fluid" />

                    <a class="close" href="#gallery">&times;</a>
                </div>
            </div>
            <!-- //popup -->

            <!-- popup-->
            <div id="gal2" class="pop-overlay animate">
                <div class="popup">
                    <img src="../../assets/images/g2.jpg" alt="Popup Image" class="img-fluid" />

                    <a class="close" href="#gallery">&times;</a>
                </div>
            </div>
            <!-- //popup -->
            <!-- popup-->
            <div id="gal3" class="pop-overlay animate">
                <div class="popup">
                    <img src="../../assets/images/g3.jpg" alt="Popup Image" class="img-fluid" />

                    <a class="close" href="#gallery">&times;</a>
                </div>
            </div>
            <!-- //popup3 -->
            <!-- popup-->
            <div id="gal4" class="pop-overlay animate">
                <div class="popup">
                    <img src="../../assets/images/g4.jpg" alt="Popup Image" class="img-fluid" />

                    <a class="close" href="#gallery">&times;</a>
                </div>
            </div>
            <!-- //popup -->


        </div>
    </section>
    <!--// gallery -->

    <!--/testimonials-->
    <section class="testimonials" id="testimonials">
        <div class="layer footer">
            <div class="container py-5">
                <div class="test-info text-center">
                    <h3 class="my-md-2 my-3">Jenifer Burns</h3>

                    <ul class="list-unstyled w3ls-icons clients mb-md-4">
                        <li>
                            <a href="#">
                                <span class="fa fa-star"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa fa-star"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa fa-star"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa fa-star-half-o"></span>
                            </a>
                        </li>
                    </ul>
                    <p><span class="fa fa-quote-left"></span> The Recipes are very easy to make within few minutes.Many favour are present in a single dish , the items are easily available in any kitchen room<span class="fa fa-quote-right"></span></p>

                </div>
            </div>
        </div>
    </section>
    <!--//testimonials-->
   